.Rproj.user
.Rhistory
*.RData
.Ruserdata
old_code
testing
inst/examples/dipper_js/*.*
!inst/examples/dipper_js/*.R
inst/examples/honu_js/*.*
inst/examples/honu_js/raw
!inst/examples/honu_js//*.R
!inst/examples/honu_js/helper/*.R
!inst/examples/honu_js/honu_ch.csv
*.pdf
*.png

